@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f8d58a;
  background-image: url('https://ukm.ugm.ac.id/2023/gelex/_next/static/media/acrylic_desk.aae734d7.png');
  background-size: cover;
  background-blend-mode: soft-light;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
